:root{
    /*Colores*/
    --clr-blanco: hsl(0, 0%, 97%);
    --clr-negro: hsl(0, 0%, 0%);
    --clr-gris: hsl(0, 2%, 61%);
    --clr-grisClaro: hsla(0, 0%, 77%, 0.286);
    --clr-grisOscuro: hsl(0, 0%, 18%);
    --clr-grisCards: hsl(45, 6%, 13%);
    --clr-amarillo: hsl(43, 100%, 51%);
    --clr-naranja: hsl(37, 100%, 50%);
    --clr-naranjaCard: hsl(39, 94%, 53%);
    --clr-error: hsl(0, 100%, 47%);
    --clr-errorOscuro: hsl(0, 100%, 42%);
    /*Anchura De la Fuente*/
    --fw-regular: 400;
    --fw-black: 900;
    --fw-bold: 700;
    --fw-semiBold: 600;
    --fw-medium: 500;
    /*Tamaño de la fuente*/
    --fs-tiny: 1.2rem;
    --fs-regular: 1.6rem;
    --fs-medium: 2rem;
    --fs-mediumLarge: 3.2rem;
    --fs-big: 4.8rem; 

    --ff-cursive: 'Dancing Script', cursive;
}

/*Selectore globales*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
/*Quitar scroll bar / barra de navegacion*/
::-webkit-scrollbar{
    display: none;
}

/*Moz Scroll bar quitar*/
/*1rem = 10px*/
html{
    font-size: 62.5%;
    scrollbar-width: none;
}
body{

    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    position: relative;

}
a{
    text-decoration: none;
    color: var(--clr-blanco);
}
img{
    max-width: 100%;
}
ul,ol{
    list-style-type: none;
}
input{
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
input:-webkit-autofill{
    box-shadow: 0 0 0 30px var(--clr-negro) inset;
    -webkit-text-fill-color: var(--clr-blanco);
}

header{
    z-index: 999999;
    background-color: var(--clr-negro);
}
h1{font-size: 3.2rem;}
h2{font-size: 2.6rem;}
h3{font-size: 2rem;}
h4{font-size: 1.6rem;}

@media (min-width: 1280px) {
    h1{font-size: 4.8rem;}
    h2{font-size: 3.6rem;}
    h3{font-size: 2.8rem;}
    h4{font-size: 2.0rem;}
}


/*
Preloader
*/

.preloader{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    background: var(--clr-negro);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader__logo{
    animation: loader 2s infinite;
    aspect-ratio: 1;
}
.hide{
    animation: vanish 1s forwards;
}
@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes loader {
    0%{transform:scale(1)}
    50%{transform: scale(1.5)}
    100%{transform: scale(1)}
}
.boton{
    cursor: pointer;
    user-select: none;
    padding: 1rem 2.5rem;
    border-radius: 3.2rem;
    border: 1px solid var(--clr-naranjaCard);
    transition: ease-in 250ms;
    background-color: var(--clr-negro);
    font-weight: var(--fw-semiBold);
}
.boton:hover{
    user-select: none;

    color: var(--clr-negro);
    background-color: var(--clr-blanco);
}
.translate{
    position: fixed ;
    bottom: 0;
    z-index: 9999999999999999999999;
    margin: 1rem;
    opacity: 0.3;
    transition: ease 200ms;
}
.translate:hover{
    opacity: 1;
}

.translate:hover .translate__icon{
    width: 5rem;
}
.translate__icon{
    width: 4.5rem;
    aspect-ratio: 1;
    transition: ease 200ms;
    border: 5px solid var(--clr-blanco);
    object-fit: cover;
    border-radius: 50%;

}