@import url("../mobile/style.css");
/* .main__data-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0;
    row-gap: 35px;
}
.main__third-column{
    grid-column: 2;
} */