
@import url("./tablet.css");


.header__logo{
    width: 94px;
}


/*Quitar las imagenes antes era el texto ahora las imagenes*/
.item__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(16px, 1.3vw, 1.8rem);
}
.item__icon img{
    border-top: 5px solid transparent;
}
.item__icon p{
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: transparent;
    display: block;
    transition: ease-in-out 250ms;
}

.nav__links{
    justify-content: center;
    gap: 3rem;
    height: 8rem;
    width: clamp(40rem ,42vw, 90rem);
    overflow: hidden;
}

.nav__item:nth-child(3) p::after{
    content: "";
}
.nav__item:hover p{

border-bottom: 5px;
border-color: var(--clr-blanco);
border-style: solid;

}

.nav__btns a li{
    width: min(15vw, 20rem);
}
.nav__item--btn1{
    max-width: 25rem;
}
.nav__item--btn2{
    max-width: 25rem;
}