
/*Quitar los textos de los menus*/
.item__icon p{
    display: none;
}

.item__icon img{

   width: 38px;
   aspect-ratio: 1;
}
/*Quitar Pantalla Negra*/
.header__blackScreen, .header__menu{
    display: none;
}

/*Header*/

header{
    border-bottom: 1px solid var(--clr-blanco);
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding: 2rem 1rem;
    align-items: center;
    position: sticky;
    top: 0;
}
.header__logo{
    align-self: center;
    justify-self: center;
    width: 64px;
    aspect-ratio: 1;
}
.nav__links{
    background-color: var(--clr-negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    width: clamp(15rem ,36vw, 50rem);
    
    height: 6rem;
    justify-self: center;
    border-color: var(--clr-blanco);
    border-width: 1px;
    border-style: solid;
}

.item__icon{
    display: flex;
    align-items: center;
    margin: 0rem 1.5rem;
    transition: ease-in-out 100ms;
    padding: .5rem;
    background-color: var(--clr-negro);
}

@media (max-width: 1023px) {
    .item__icon:hover{
        background-color: var(--clr-negro);
        filter: invert();
        border-radius: 10px;
    }
}


.nav ul{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;
}
 .nav__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1;
    gap: 1rem;
    align-self: center;
 }
 .nav__links{
     grid-column: 1/2;
     grid-row: 1;
 }
 .nav__item--btn1, .nav__item--btn2{
    
    border: 1px solid var(--clr-amarillo);
    text-align: center;
    padding: 1rem;
    width: clamp(15rem, 15vw, 35rem);
    border-radius: 3.2rem;
    background-color: var(--clr-negro);
}

.nav__btns--center{
    align-self: center;
}
.nav__item--btn2{
    border-color: var(--clr-azul);
}
.nav__item--active:hover{
    transition: ease 200ms;
    filter: invert();
}
/*
FOOTER
*/
.footer{
    margin-top: 4rem;
    background-color: var(--clr-grisOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}
.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;

}
.footer__icon{
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer__socials{
    grid-column: 2/3;
    grid-row: 2;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 15rem;
}
.footer__socials--img{

    border-radius: 50%;
    width: 32px;
    aspect-ratio: 1;
   
}
.footer__text{
    display: flex;
    align-items: center;
}
.socials__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-grisClaro);
    border-radius: 50%;
}
.footer__text{
    color: var(--clr-gris);
}
