/**
HERO
**/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5rem;
    /* text-align: center; */
    /* border: 1px solid red; */
}
.cta__btn {
    display: flex;
    justify-content: center;
}
.cta__btn a{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--clr-negro);
    border-radius: 3.2rem;
    text-align: center;
    font-weight: var(--fw-medium);
    background-color: var(--clr-naranja);
    max-width: 25rem;
    color: var(--clr-blanco);
    transition: all 250ms ease-in-out;
}
.cta__btn a:hover{
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    border-color: var(--clr-blanco);
}
.grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
    gap: calc(2rem + .7vw);
    max-width: 45rem;
}   
.grid__item{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid__item:nth-child(2n){
    animation: floating 4s infinite;
}
.grid__item:nth-child(2n-1){
    animation: floating-down 4s infinite;
}
.grid__card{
    background-color: var(--clr-grisCards);
    padding: 1.5rem;
    border-radius: 1.2rem;
    margin-bottom: .5rem;
}
.grid__text{
    font-size: clamp(1rem, 2vw, 1rem);
    text-align: center;
    color: var(--clr-gris);
    max-width: clamp(25rem, 11vw, 37rem);
}
.grid__text a{
    color: var(--clr-blanco);
    text-decoration: underline;
}
.tooltip__link{
    display: none;
}
@keyframes floating {

    0%{transform: translateY(0rem);}
    50%{transform: translateY(-2.5rem);}
    100%{transform: translateY(0rem);}
    
}
@keyframes floating-down {

    0%{transform: translateY(0rem);}
    50%{transform: translateY(2.5rem);}
    100%{transform: translateY(0rem);}
    
}

/*
MAIN
*/
.why-us{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    margin: 1rem 2rem;
}
.why-us__heading{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 10rem;
}
.why-us__container{
    margin: 3rem auto;
    color: var(--clr-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-us__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid  var(--clr-blanco);
    background-color: var(--clr-negro);
    border-radius: 2rem;
    margin: 0 2rem;

}
.why-us__icon img{
    /* border: 1px solid yellow; */

    width: 6.4rem;
}
.why-us__icon{
    padding: 2rem;  
    background-color: var(--clr-negro);
    border-radius: 50%;
    border: .8rem solid var(--clr-blanco);
    margin-top: -6rem;
    max-width: 12rem;
}
.why-us__advantage{
    margin: 3rem 1.2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.why-us__cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 5px solid var(--clr-negro);
    padding: 1rem;
    border-radius: 5px;
}
.why-us__cards:last-child{
    border-color: transparent;
}
.why-us__cards p{
    color: var(--clr-gris);
}

.why-us__container{
    max-width: 50rem;
}
.why-us__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* width: max-content; */
}
.why-us__title img{
    filter: invert();
}
/* .why-us{
    display: none;
} */
/*
MAIN: OUR-CONTENT
*/
.our-content{
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 5rem;
    margin: 0 2.2rem;
}

.our-content__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.our-content__carusel img{
    width: calc(100% / 4);
}
.our-content__carusel{
    display: flex;
    width: 400%;
    transition: ease-in-out 450ms;
}
.our-content__btns{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.our-content__btns input{
    display: none;
}
.our-content__btns label{
    background-color: var(--clr-negro);
    border: 1px solid var(--clr-naranjaCard);
    width: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
}
.our-content__btns input:checked + label{
    background-color: var(--clr-naranjaCard);
}
.our-content__container-carusel{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    overflow: hidden;
    border: 2.5rem solid var(--clr-naranjaCard);
    background-color: var(--clr-naranjaCard);
}
.our-content__card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    justify-self: center;
}
.our-content__author{
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-content__author img{
    /* border: 1px solid black; */
    width: clamp(10rem, 15vw, 25rem);
    
}