/**
HERO
**/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5rem;
    /* text-align: center; */
    /* border: 1px solid red; */
}
.cta__btn {
    display: flex;
    justify-content: center;
}
.cta__btn a{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--clr-negro);
    border-radius: 3.2rem;
    text-align: center;
    font-weight: var(--fw-medium);
    background-color: var(--clr-naranja);
    width: 15rem;
    color: var(--clr-blanco);
    transition: all 250ms ease-in-out;
}
.cta__btn a:hover{
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    border-color: var(--clr-blanco);
}
.grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
    gap: calc(2rem + .7vw);
    max-width: 45rem;
}   
.grid__item{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid__item:nth-child(2n){
    animation: floating 4s infinite;
}
.grid__item:nth-child(2n-1){
    animation: floating-down 4s infinite;
}
.grid__card{
    background-color: var(--clr-grisCards);
    padding: 1.5rem;
    border-radius: 1.2rem;
    margin-bottom: .5rem;
}
.grid__text{
    font-size: clamp(1rem, 2vw, 1rem);
    text-align: center;
    color: var(--clr-gris);
    max-width: clamp(25rem, 11vw, 37rem);
}
.grid__text a{
    color: var(--clr-blanco);
    text-decoration: underline;
}
.tooltip__link{
    display: none;
}
@keyframes floating {

    0%{transform: translateY(0rem);}
    50%{transform: translateY(-2.5rem);}
    100%{transform: translateY(0rem);}
    
}
@keyframes floating-down {

    0%{transform: translateY(0rem);}
    50%{transform: translateY(2.5rem);}
    100%{transform: translateY(0rem);}
    
}

/*
MAIN
*/
main{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 5rem;
}
/*
WHY-US
*/
.why-us{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin: 0 1.5rem;
}
.why-us__heading{
    /* border: 1px solid green; */
    text-align: center;
    margin: 0 2rem;
}
.why-us__card{
    border: 5px solid var(--clr-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: -1;
    border-radius: 1.5rem;
    max-width: 25rem;
}
.why-us__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
.why-us__icon img{
    width: 4.8rem;
    aspect-ratio: 1;
}
.why-us__icon{
    border: 5px solid var(--clr-blanco);
    padding: 2rem;
    border-radius: 2.8rem;
    margin-top: -5rem;
    background-color: var(--clr-negro);
}
.why-us__description{
    margin: 0 2rem 1rem 2rem;
}


/*
MAIN: OUR-CONTENT
*/

.our-content{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.our-content__heading{
    text-align: center;
}
.our-content__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.our-content__title{
    text-align: center;
    margin: 0 .6rem;
}
.our-content__autor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    filter: invert();
}
.our-content__autor img{
    width: clamp(8rem, 25vw, 17rem);
}
.our-content__img{
    /* border: 1px solid red; */
    background-color: var(--clr-naranjaCard);
    margin: 0 1.4rem;
    border: 2rem solid var(--clr-naranjaCard);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;
    max-width: 40rem;    
}

.our-content__text p{
    display: none;
    font-weight: 300;
}
.our-content__btns{
    display: flex;
    justify-content: center;
}
.our-content__btns input{
    visibility: hidden;
}
.our-content__btns label{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--clr-negro);
}
.our-content__btns input:checked + label{
    background-color: var(--clr-negro);
}
.our-content__carrusel{
    display: flex;
    width: 400%;
    transition: all 350ms ease-in;
}
.our-content__carrusel img{
    width: calc(100%/4);
}