@import url("../mobile/style.css");
/* .main__data-container{
    display: grid;
    grid-template-columns: fit-content fit-content;
    grid-template-rows: 0.5fr 0.5fr;
    align-items: center;
    row-gap: 15px;
}
.main__one-row{
    grid-column: 1/3;
} */
