@import url("../mobile/style.css");

/*
HERO
*/
@media (min-width: 1023px) {
    .hero{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0rem;
    }
    .cta{
        max-width: 80rem;
    }
    .cta__title{
        text-align: start;
    }
    .cta__btn a{
        width: 25rem;
    }
    .cta__btn {
        justify-content: start;
    }
    .grid{
        max-width: 90rem;
        /* border: 1px solid red; */
    }

    
}

.tooltip{
    font-size: 1rem;
    border: 2px solid transparent;
    transition: ease-in-out 50ms;
}
.tooltip__link{
    display: block;
}
.tooltip:hover .tooltip__link {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
}
.tooltip  .tooltip__link {
    background-color: var(--clr-grisOscuro);
    color: var(--clr-blanco);
    font-size: 1.5rem;
    position: absolute;
    bottom: -2.8rem;
    right: 5rem;
    overflow:hidden;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
    padding: .2rem;
    border: 1px solid var(--clr-negro);
    z-index: 99999;
    visibility: hidden;
}
.tooltip a{
    color: var(--clr-blanco);
    text-decoration: none;
}
.tooltip {
    position: relative;
}
.grid__card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*
MAIN
*/

/*
WHYUS
*/
.why-us__container{
    flex-direction: row;
    justify-content: space-evenly;
}

/*
OUR-CONTENT
*/

.our-content__article{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
}
.our-content__text{
    max-width: 50rem;
    justify-self: end;
}
.our-content__text h3{
    margin: 1rem;
    text-align: start;
}
.our-content__text p{
    display: block;
    margin: 1rem;
}
.our-content__article{
    flex-direction: row;
}
.our-content__img{
    margin: 0;
    max-width: 57rem;
    justify-self: end;
}
.our-content--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.our-content--grid:nth-child(3) .our-content__text{
 grid-column: 2/3;
 grid-row: 1;
 margin: 0;
 /* border: 1px solid red; */
 justify-self: start;
}
.our-content--grid:nth-child(3) .our-content__img{
    justify-self: start;
}

/*
FOOTER
*/
.footer{
    margin-top: 4rem;
    background-color: var(--clr-grisOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}
.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;

}
.footer__icon{
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer__socials{
    grid-column: 2/3;
    grid-row: 2;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 15rem;
}
.footer__socials--img{

    border-radius: 50%;
    width: 32px;
    aspect-ratio: 1;
   
}
.footer__text{
    display: flex;
    align-items: center;
}
.socials__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-grisClaro);
    border-radius: 50%;
}
.footer__text{
    color: var(--clr-gris);
}
