@import url("../mobile/style.css");

/*
HERO
*/

@media (min-width: 1023px) {
    .hero{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0rem;
    }
    .cta{
        max-width: 50rem;
        align-items: start;
    }
    .cta__title{
        text-align: start;
    }
    .cta__description{
        text-align: start;
    }
    .cta__btn a{
        width: 25rem;
    }
    .cta__btn {
        justify-content: start;
    }
    .grid{
        max-width: 90rem;
        /* border: 1px solid red; */
    }

    
}
@media (min-width: 1280px) {
    .cta{
        max-width: 80rem;
    }
}
.card__img{
    max-height: 22vh;
    min-width: 10vh;
}
.our-content__carrusel{
    max-height: 50vh;
}


.grid__card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



/*
MAIN
*/

/*
WHYUS
*/
.why-us__container{
    flex-direction: row;
    justify-content: space-evenly;
}

/*
OUR-CONTENT
*/

.our-content__article{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
}
.our-content__text{
    max-width: 50rem;
    justify-self: end;
}
.our-content__text h3{
    margin: 1rem;
    text-align: start;
}
.our-content__text p{
    display: block;
    margin: 1rem;
}
.our-content__article{
    flex-direction: row;
}
.our-content__img{
    margin: 0;
    max-width: 43rem;
    justify-self: end;
}
.our-content--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.our-content--grid:nth-child(3) .our-content__text{
 grid-column: 2/3;
 grid-row: 1;
 margin: 0;
 /* border: 1px solid red; */
 justify-self: start;
}
.our-content--grid:nth-child(3) .our-content__img{
    justify-self: start;
}
@media (max-width: 1023px) {
 .our-content--grid:nth-child(2) .our-content__img,  .our-content--grid:nth-child(4) .our-content__img{
      border-right:none;
  }
  .our-content--grid:nth-child(3)  .our-content__img{
    border-left: none;
  }
}
/*
CTA 2
*/

.cta-two{
    align-items: center;
}

.cta-two__circle{
    margin-left: 8rem;
}

.cta-two__content{
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 5rem 1rem 3rem 1rem;
}
.cta-two__btn {
    font-size: 2rem;
    justify-self: center;
}
.cta-two__text{
    /* font-size: 2.2rem; */
    max-width: 60rem;
    text-align: start;
}
.cta-two__btn{
    width: 100%;
    max-width: 40rem;
}

#translate{
    display: none;
}
.translate__nose{
    width: 20px;
    aspect-ratio: 1;
    background-color: blue;
}
