@import url("../mobile/style.css");

@media (min-width: 1023px) {
    .hero{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0rem;
    }
    .cta{
        max-width: 80rem;
    }
    .cta__title{
        text-align: start;
    }
    .cta__btn a{
        width: 35rem;
    }
    .cta__btn {
        justify-content: start;
    }
    .grid{
        max-width: 90rem;
        /* border: 1px solid red; */
    }

    
}

.grid__text{
    font-size: 1rem;
    border: 2px solid transparent;
    transition: ease-in-out 50ms;
}
.tooltip__description{
    display: block;
}
.grid__text:hover .tooltip__description {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
}
.grid__text  .tooltip__description {
    background-color: var(--clr-grisOscuro);
    color: var(--clr-blanco);
    font-size: 1.5rem;
    position: absolute;
    bottom: -2.8rem;
    right: 5rem;
    overflow:hidden;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
    padding: .2rem;
    border: 1px solid var(--clr-negro);
    z-index: 99999;
    visibility: hidden;
}
.grid__text a{
    color: var(--clr-blanco);
    text-decoration: none;
}
.grid__text {
    position: relative;
}
.grid__card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*
MAIN
*/
.why-us__title{
    flex-direction: row;
    justify-content: space-evenly;
}
.why-us__container{
    max-width: 150rem;
}
.why-us__advantage{
   flex-direction: row;
}
.why-us__advantage section{
    border-right: 5px solid var(--clr-blanco);
    border-radius: 5px;
    border-bottom: none;
}
.why-us__advantage section:last-child{
    border-color: transparent;
}
.why-us__cards{
    background-color: transparent;
}