h2{
    font-size: clamp(1.6rem, 5vw, 2.5rem);
}
.line{
    border-bottom: 3px solid var(--clr-blanco);
    padding-bottom: 5rem;
}
.hero{
    display: flex;
    justify-content: center;
}
.hero__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 1rem .5rem;
}
.hero__img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hero__img-wrapper{
    display: flex;
    gap: 1rem;
    height: 25rem;
}
.hero__img{
    filter: grayscale(1);
    height: 20rem;
    width: clamp(5rem, 20vw, 9rem);
    border-radius: 20px;
    object-fit: cover;
    animation: down  infinite 5s;
}
.hero__img--down{
    align-self: flex-end;
    animation: up infinite 5s;
}
.hero__autor{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-gris);
}
@keyframes up {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-30%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes down {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(30%);
    }
    100%{
        transform: translate(0%);
    }
}



/*Styles*/
.main__wrapper{
    margin: 0rem 2rem;
    display: flex;
    justify-content: center;
}
.main__card-container{
    margin-top: 5rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1.5rem;
}

.main__card{
    border: 8px solid var(--clr-blanco);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}
.main__card img{
    border-radius: 2rem;
}
.main__card-autor{
    display: flex;
    gap: 0.5rem;
    color: var(--clr-gris);
}
.main__card-autor img{
    width: clamp(10rem, 25vw, 15rem);
}
.main__card-img{
    max-width: 32rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: max-content;
}


/*Scroll*/
.main__wrapper{
    display: flex;
    justify-content: center;
}
.main__scroll{
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.main__scroll::-webkit-scrollbar{
  display: block;
  background-color: var(--clr-grisOscuro);
}
.main__scroll::-webkit-scrollbar-thumb{
    background-color: var(--clr-naranja);
    border-radius: 20px;
}
.main__scroll{
    scrollbar-width: auto;
	scrollbar-color: var(--clr-naranja) var(--clr-grisOscuro);
    max-width: 40rem;
}

.main-scroll{
    scroll-snap-align: center;
    scroll-snap-stop: always ;
}

