
.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about{
    padding-top: 1rem;
    border-bottom: 3px solid var(--clr-blanco);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.about__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    margin: 0rem 2.5rem;
}
.about__img-container{
    background-color: var(--clr-naranjaCard);
    padding: 2rem;
    margin-bottom: 4rem;
    max-width: 40rem;
}
.about__autor{
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}
.about__autor p{
    font-size: min(3.2vw, 1.6rem)
}
.about__description p{
    /* border: 1px solid red; */
    text-align: center;
}
.about__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.our{
    width: 100%;
    border-bottom: 3px solid var(--clr-blanco);
    padding-bottom: 5rem;
}

.our__wrapper{
    margin: 0rem 3rem;
}

.our__options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 5px solid var(--clr-blanco);
    margin-bottom: 1rem;
}


.our__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 250ms;
}
.our__btn h2{
    font-weight: var(--fw-bold);
    font-size: clamp(1.2rem, 4vw, 3rem);
    padding: 2rem clamp(.5rem, 3vw, 99rem);
}

.our__options input{
    display: none;
}



.our__options input:checked + label div{
    background-color: var(--clr-naranjaCard);
}
.our__options input:checked + label div p{
    border-color: var(--clr-naranjaCard);
}

.our__content>section{
    display: none;
}
.our__btn{
    cursor: pointer;
    user-select: none;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    
}

.item img{
    padding: 2.5rem;
    background-color: var(--clr-naranjaCard);
    border-radius: 1.2rem;
    max-height: 10rem;
}
.item__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.logo__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;
}
.logo__cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.logo__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}
.logo__border{
    border: 5px solid var(--clr-blanco);
    border-bottom: none;
    margin: -2rem 3rem;
    padding: 1rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 0;
    border-radius: 2.1rem;
}
.logo__btn{
    background-color: var(--clr-naranjaCard);
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    max-width: 20rem;
    text-align: center;
}
.footer__container{
    margin: 0;
}
.footer{
    position: relative;
    z-index: 2;
}