@import url("../tablet/style.css");

.main__nav-icon{
    display: grid;
    grid-template-columns: .6fr 1fr;
    align-items: center;
    gap: 1rem;
}
.main__expo-container{
    max-width: 45rem;
}
.main__feed-wrapper{
    margin-left: 17.3rem;
    align-items: flex-start;
}
.show-only-desktop{
    display: block;
}