.main__container{
    padding: 1rem;
}

.main__title{
    font-size: 25px;
}

.main__expo{
    border: 4px solid var(--clr-blanco);
    border-radius: 7px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 10px;
    padding: 1rem;
    align-items: flex-start;
}
.main__expo-img{
    width: 80px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}
.main__expo-title{
    font-size: 18px;
}
.main__intereaction{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-self: flex-end; */
    gap: 25px;
    height: 100%;
    justify-content:center;
}
.main__img--small{
    width: 25px;
}
.main__expo-description{
    color: var(--clr-gris);
    font-size: 12px;
}
