.main__nav-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.main__nav-img{
    width: 60px;
    aspect-ratio: 1;
}

.no-tablet{
    display: none;
}
.disabled-tablet{
    display: none;
}