.header{
    position: sticky;
    top: 0;
}
.header__container{
    border-bottom: 2px solid var(--clr-blanco);
    display: flex;
    justify-content: space-between; 
    padding: .5rem;
}
.header__user{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__user-data{
    display: flex;
    font-size: 12px;
    gap: 2px;
    align-items: center;
}
.header__user-name::after{
    content: ",";
}
.header__icon-user{
    width: 40px;
}
.header__img{
    width: 120px;
}

.header__icon-user{
    filter: invert(1);
}


.header__logout{
    display: flex;
}
.header__options{
    background-color: var(--clr-negro);
    position: fixed;
    right: 0;
    top: 0rem;
    height: 100vh;
    padding: 2rem;
    z-index: 999;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 250ms;
    width: 26rem;
}
.header__link{
    user-select: none;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    padding: 1rem;
    gap: 20px;
    max-width: max-content;
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
}

.header__link:hover{
    filter: invert(1);
}
.header__black-screen{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.header__close-options{
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    padding-bottom: 5rem;
}
.header__logout-text{
    color: var(--clr-errorOscuro);
}
.header__link--logout{
    border: 3px solid var(--clr-error);
    border-radius: 15px;
    margin-top: 3rem;
    transition: ease-in 150ms;
}
.header__link--logout:hover{
    filter: none;
    background-color: var(--clr-error);
}
.header__link--logout:hover .header__logout-text{
    color: var(--clr-blanco);
}
.header__link--logout:hover .header__logout-icon{
    filter: invert(97%) sepia(100%) saturate(11%) hue-rotate(174deg) brightness(102%) contrast(101%);
}
.header__page-icon{
    aspect-ratio: 1;
    width: 30px;
}
.header__page-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__logo-img{
    display: flex;
    align-items: center;
}
.header__lang{
    margin-block: 1rem;
}

.ocultar{
    transform: translate(100%);
    transition: none 0s;
}
.show{
    display: block;
}
.no-mobile{
    display: none;
}