.footer__container{
    margin-top: 4rem;
    padding: 2rem 0rem;
    background-color: var(--clr-grisOscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__container .footer__socials{
    /* border: 1px solid red; */
    gap: 5rem;
    margin-top: 1rem;
}
.footer__logo {
    width: 7rem;
    aspect-ratio: 1;
}
.footer__text{
    text-align: center;
}
.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__socials--img{

 border-radius: 50%;
 width: 32px;
 aspect-ratio: 1;

}
.socials__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-grisClaro);
    border-radius: 50%;
}
.footer__text{
    color: var(--clr-gris);
}