@import url("../tablet/style.css");

.main__wrapper{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
}
.tablet-grid-last{
    grid-row: 1;
    grid-column: 3;
}
