body{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    padding: 1rem;
    margin-bottom: .5rem;
}
.header__back--button{
    cursor: pointer;
}
.header__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header__logo{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.main__text-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main__description{
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50rem;
    gap: 1.5rem;
    margin: 0rem 2rem;
}
.form__input{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.form__input input{
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    border: 5px solid var(--clr-blanco);
    padding: 1.5rem;
    margin: .5rem 0rem;
    border-radius: 1rem;
}
.form__icon-show img{
    aspect-ratio: 1;
}
.form__input--two-columns input{
    width: 100%;
}
.form__input-names{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
}
.form__input--one-column{
    width: 100%;
}
.form__icon-show{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__icon-show img{
    margin-right: 1rem;
}
.form__submit{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color:  var(--clr-blanco);
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    width: 100%;
}
.form__buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.form__buttons a{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
}
.form__icon-show img{
    cursor: pointer;
}
.footer{
    margin-top: 5rem;
    height: 100%;
    font-size: 1.2rem;
    color: var(--clr-gris);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.background{
    display: none;
}
.errorBorder{
    border-color: hsl(0, 100%, 47%)!important;
}
.errorMessage{
    display: none;
    font-size: 1.2rem;
    color: hsl(0, 100%, 42%);
}
.error{
    display: block;
}