/*Pintar los arrows*/
.hero__arrow img {
    align-self: center;
    /* background-color: red; */
    justify-self: center;
    margin: 0 .3rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    transition: ease-in 150ms;
}
.hero__arrow img:hover{
    background-color: rgba(117, 117, 117, 0.467);
}
/*Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.hero__title{
    /* border: 1px solid red; */
    margin: 1rem 2.5rem;
    text-align: center;
    font-size: clamp(1.6rem, 2.6vw, 2.8rem);
}
.card__description span{
    color: var(--clr-blanco);
}
.hero__container{
    display: flex;
    gap: 2rem;
    overflow-x: hidden;
    align-items: center;
}

.hero__wrapper{
    padding: 2rem;
    border-radius: 2.5rem;
    display: grid;
    grid-auto-columns: auto;
    overflow: hidden;
    width: clamp(21rem, 60vw, 55rem);
}
.hero__card{
    color: var(--clr-gris);
    background-color: var(--clr-grisOscuro);
    padding: 2rem;
    border-radius: 3rem;
    aspect-ratio: 1;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(21rem, 60vw, 55rem);
    height: 35rem;
    grid-row: 1;
    margin: 0 10rem;
}

.card__img{
    height: max-content;
}
.card__description{
    text-align: center;
}
.hero__description span{
    color:  white;
    font-family: var(--ff-cursive);
}
